<h2 class="page-title">Choose your opponent</h2>
<section class="wrapper">
  <button id="btComputer" class="button bt-opponent" (click)="onClickOpponentComputer()">
    <div class="bt-opponent__icon">🤖</div>
    <div class="bt-opponent__text">AI Computer</div>
  </button>
  <button id="btLocal" class="button bt-opponent" (click)="onClickOpponentLocal()">
    <div class="bt-opponent__icon">👩‍🦰</div>
    <div class="bt-opponent__text">Local player</div>
  </button>
  <button id="btRemote" class="button bt-opponent" (click)="onClickOpponentRemote()">
    <div class="bt-opponent__icon">🌍</div>
    <div class="bt-opponent__text">Remote player</div>
  </button>
</section>
