@use "./../../styles/elements/button.scss";

:host {
  height: 100%;

  --space-between: calc(var(--size) * 2);

  display: grid;
  grid-template-rows: auto min-content;
  grid-template-columns: 100%;
  gap: var(--space-between);
  justify-content: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-between);

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    .name {
      display: flex;
      flex: 1;

      width: 75%;
      min-width: min-content;
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: center;
      gap: calc(var(--size) * 4);

      @media screen and (min-width: 768px) {
        width: 50%;
      }

      .bt-save {
        @extend .button;
        width: 50%;
        align-self: center;
      }
    }
  }
}
