@if(player$ | async; as player) {
<section class="modal" [style]="{display: showModal ? 'flex' : 'none'}">
  <div class="content">
    <h2 class="title">Player already exist</h2>
    <label class="text">Do you want to load previous score?</label>
    <div class="button-wrapper">
      <button class="button" (click)="handlePreviousScore()">
        Yes
      </button>
      <button class="button" (click)="handleNewScore()">
        No
      </button>
    </div>
  </div>
</section>

<section class="header">
  <h2 class="title">{{player.name}}</h2>
  <div class="score">
    @if(player.type === 'computer') {
    <div class="score__icon">🤖</div>
    }
    @if(player.type !== 'computer') {
    <div class="score__text">{{player.score}}</div>
    <div class="score__icon">🏆</div>
    }
  </div>
</section>

<section class="wait overlay" [style]="{display: player.state === 'wait' ? 'flex' : 'none'}"></section>

<section class="name" [style]="{display: player.state === 'name' ? 'flex' : 'none'}">
  <label>Write your name:</label>
  <input class="input" type="text" placeholder="Player {{player.number}}" [(ngModel)]="inputValue"
    (keydown.enter)="handleSaveName()">
  <button class="bt-save" (click)="handleSaveName()">
    Save
  </button>
</section>

<section class="choice" [style]="{display: player.state === 'choice' ? 'flex' : 'none'}">
  <label>Choose:</label>
  <div class="button-wrapper">
    <button id="btChoice-rock" class="bt-choice" (click)="handleChoice('rock')">
      ✊
    </button>
    <button id="btChoice-paper" class="bt-choice" (click)="handleChoice('paper')">
      🖐
    </button>
    <button id="btChoice-scissors" class="bt-choice" (click)="handleChoice('scissors')">
      ✌️
    </button>
  </div>
</section>

<section class="result" [style]="{display: player.state === 'result' ? 'flex' : 'none'}">
  @if(player.result === 'win') {
  <label>You have WON!</label>
  }
  @if(player.result === 'lose') {
  <label>Sorry, you have LOST</label>
  }
  @if(player.result === 'tie') {
  <label>IT'S A TIE</label>
  }

  <div class="selection">
    @if(player.choice === 'rock') {
    ✊
    }
    @if(player.choice === 'paper') {
    🖐
    }
    @if(player.choice === 'scissors') {
    ✌️
    }
  </div>
</section>
}
